@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* .contact img {
    @apply border-2 border-green-500;
  } */

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}