@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	.modal a {
		@apply text-[#cc0066];

		&:hover {
			@apply underline;
		}
	}
	
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}