@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	.modal {
		a {
			@apply underline underline-offset-2 decoration-[1.5px] decoration-zinc-400;

			&:hover {
				@apply italic;
			}
		}

		.description hr {
			@apply h-2 border-0;
		}
	}
	
	button {
		@apply select-none;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}